{
  "apps" : [
    {
      "name"      : "Tedxpj",
      "script"    : "index.js",
      "env_production" : {
        "PORT"                  :"2368",
        "NODE_ENV"              :"production",
        "DATABASE_TEDX_USER"    :"tedxpj",
        "DATABASE_TEDX_DATANAME":"tedxpj",
        "DATABASE_TEDX_PASSWORD":"$PASSWD",
        "CONTACT_MAIL"          :"$EMAIL",
        "MAILGUN_SMTP_LOGIN"    :"$SMTP_LOGIN",
        "MAILGUN_SMTP_PASSWORD" :"$SMPT_PASSWD"
      }
    },
    {
      "name"             : "slack-notify",
      "script"           : "slack-notifications.js",
      "exec_interpreter" : "babel-node",
      "env_production":{
        "SLACK_ENVIRONMENT"  :"$ENV",
        "SLACK_PROJECT_URL"  :"$PROJECT_URL",
        "SLACK_HOOK_URL"     :"$HOOK_URL",
        "SLACK_CHANNEL"      :"$HOOK_CHANNEL",
        "SLACK_PROJECT_NAME" :"$HOOK_PROJECT",
        "SLACK_PROJECT_ICON" :"$HOOK_ICON",
        "SLACK_BOT_NAME"     :"$HOOK_BOT_NAME"
      }
    }
  ]
}
