<footer class="footer">

  <section class="footer-body container">
    <div class="row">

      <figure class="brand col-md-4">
        <img class="brand-logo" src="{{asset "/images/TEDx_logo_white.png"}}" alt="TEDx Parque Jipiro logo White" />
      </figure>

      <div class="social-networks col-md-4">
        <div class="social-networks-twitter">
          <a href="http://www.twitter.com/TedxPJipiro" class="icon-twitter"></a>
        </div>

        <div class="social-networks-facebook">
          <a href="http://www.facebok.com/TedxParqueJipiro" class="icon-facebook"></a>
        </div>

        <div class="social-networks-rss">
          <a href="{{@blog.url}}/rss/" class="icon-feed
          "></a>
        </div>
      </div>

      <div class="contact col-md-4 white-content">
        <a href="mailto:hola@tedxparquejipiro.com">hola@tedxparquejipiro.com</a>
        <a href="callto:(+593)72588668">(07) 258-8668 ext.138</a>
        <p>Loja - Ecuador</p>
        <a href="{{@blog.url}}/contacto" class="btn btn-primary">Contáctanos</a>
      </div>

    </div>

  </section>

  <section class="footer-licences">

    <div class="container">
      <div class="licence col-md-3">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png"/></a><p>Licencia Creative Commons Atribución-CompartirIgual 4.0 Internacional</p>
      </div>

      <div class="footer-navigation col-md-6">
        {{navigation}}
      </div>

      <div class="authors col-md-3">
        <span>powered by </span><a href="//www.noggalito.com"><i>noggalito</i></a>
      </div>
    </div>

  </section>

</footer>
