<footer class="footer">

  <section class="footer-body container">
    <div class="row">

      <figure class="brand col-md-4">
        <img class="brand-logo" src="{{asset "/images/TEDx_logo_white.png"}}" alt="TEDx Parque Jipiro logo White" />
      </figure>

      <div class="social-networks col-md-4">
        <div class="social-networks-twitter">
          <a href="http://www.twitter.com/TedxPJipiro" class="icon-twitter"></a>
        </div>

        <div class="social-networks-facebook">
          <a href="http://www.facebok.com/TedxParqueJipiro" class="icon-facebook"></a>
        </div>

        <div class="social-networks-rss">
          <a href="{{@blog.url}}/rss/" class="icon-feed
          "></a>
        </div>
      </div>

      <div class="contact col-md-4 white-content">
        <a href="mailto:info@noggalito.com">info@nogalito.com</a>
        <a href="callto:09809595742">0989595742</a>
        <p>Loja - Ecuador</p>
        <a href="{{@blog.url}}/about" class="btn btn-primary">Contactanos</a>
      </div>

    </div>

  </section>

  <section class="footer-licences">

    <div class="container">
      <div class="authors">
        <p>©©Nogalito Copyrigth 2015</p>
      </div>

      <div class="footer-navigation">
        {{navigation}}
      </div>

      <div class="licence">
        <p>TEDx, Conferences</p>
      </div>
    </div>

  </section>

</footer>
