<form id="form" data-toggle="validator" role="form" class="form" method="POST" action="/mail">
  <div class="form-group">
    <label>Nombre Completo</label>
    <input type="text" name="name" placeholder="Ingresa tu nombre" class="form-control">
  </div>

  <div class="form-group has-feedback">
    <label>Email</label>
    <div class="input group">
      <input type="email" name="email" placeholder="Ingresa tu email" class="form-control" required>
    </div>
    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
    <div class="help-block with-errors"></div>
  </div>

  <div class="form-group has-feedback">
    <label>Asunto</label>
    <input type="text" name="subject" placeholder="Asunto" class="form-control" required>
    <div class="help-block with-errors"></div>
    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
  </div>

  <div class="form-group">
    <label>Preguntanos lo que quieras</label>
    <textarea type="textarea" name="text" placeholder="En que te podemos ayudar ?" class="form-control" required></textarea>
    <div class="help-block with-errors"></div>
  </div>

  <div class="form-group">
    <label>Porfavor escribe: <italic>tedxpjipiro</italic> para confirmar que no eres un robot <span class="icon-wink2"></span> </label>
    <input type="text" name="captcha" class="form-control" required>
    <div class="help-block with-errors"></div>
  </div>

  <div class="form-group text-right">
    <input class="btn btn-primary" type="submit" value="Enviar formulario">
  </div>
</form>
