<form class="form" method="post" action="/">
  <div class="form-group">
    <label>Nombre</label>
    <input type="text" name="name" placeholder="Ingresa tu nombre" class="form-control">
  </div>

  <div class="form-group">
    <label>Apellidos</label>
    <input type="text" name="last_name" placeholder="Ingresa tus apellidos" class="form-control">
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="email" name="email" placeholder="Ingresa tu email" class="form-control">
  </div>

  <div class="form-group">
    <label>C.I</label>
    <input type="text" name="ci" placeholder="Ingresa tu nombre" class="form-control">
  </div>

  <div class="form-group">
    <label>Motivo</label>
    <textarea type="textarea" name="reason" placeholder="Porque quieres contribuir con nosotros ?" class="form-control"></textarea>
  </div>

  <div class="form-group text-right">
    <input class="btn btn-primary" type="submit" name="name" value="Participar">
  </div>

</form>
