<nav id="nav">
  <div class="container">

    <header class="nav-header">
      <a href="{{@blog.url}}"> <img class="brand-logo" src="{{asset "/images/TEDx_logo_black.png"}}" alt="TEDx_Parque_Jipiro_logo"/></a>
    </header>

    <section class="nav-body">

      <ul class="navigation">
          {{navigation}}
      </ul>

      <ul class="sign-in hidden">
        <li> <a class="link-red" href="#">Registrarse</a></li>
        <li> <a class="link-red" href="#">Ingresar</a></li>
      </ul>

    </section>


    <footer class="nav-footer btn-menu visible-xs link-red">
      <a href="#" class="glyphicon glyphicon-option-vertical"></a>
    </footer>

  </div>
</nav>
