{{!< default}}

{{#post}}

<section class="about-content">
  <div class="container">

    <div class="about-title row">
      <span class="col-md-1"></span>
      <h1 class="col-md-10 post-title">{{title}}</h1>
    </div>
    <article class="{{post_class}} row">
      <span class="col-md-1"></span>
      <section class="post-content col-md-10 col-xs-12">
          {{content}}
      </section>
    </article>


  <div class="contact-content row">

    <article class="contact-form">
      {{> "_form_contact"}}
    </article>

    <span class="vertical-line"></span>

    <article class="contact-info">
      <div class="meta">
        <div class="info-meta">
          <a class="row-content" href="home">
            <div class="icon-home" href=""></div>
            <div class="home-info">
              <span>Centro de Emprendimiento prendho</span><span>Cdla. San Cayetano s/n (UTPL)</span><span>Loja – Ecuador</span>
            </div>
          </a>
          <a class="row-content icon-mobile" href="callto:072588668">
            <span>
              (07) 258-8668
            </span>
          </a>
          <a class="row-content icon-envelop" href="mailto:info@noggalito.com">
            <span>
              hola@tedxparquejipiro
            </span>
          </a>
          <a class="row-content icon-facebook" href="//facebook.com/TEDxParqueJipiro">
            <span>
              /TEDxParqueJipiro
            </span>
          </a>
          <a class="row-content icon-twitter" href="//twitter.com/TEDxPJipiro">
            <span>
              @TEDxPJipiro
            </span>
          </a>
        </div>
      </div>
    </article>

  </div>

</div>
</section>

{{/post}}
