{{!< default}}

{{#post}}

<section class="contact-failure">
  <header class="contact-failure-title">
    <h1>  UPS !!</h1>
  </header>
  <article class="contact-failure-body">
    <p class="lead">
      No podemos enviar tu requerimiento por el momento. No dudes en intentarlo más tarde porfavor. <span class="icon-wink2"></span>
    </p>
  </article>

  <footer class="contact-failure-meta">
    <div class="icon-cross">
    </div>
  </footer>
</section>

{{/post}}

<script>
  window.setTimeout(function(){
    window.location.href = "/";
  }, 5000);
</script>
