{{!< default}}

{{#post}}

{{> "_default_page"}}

<section class="volunteers-form container">
  <figure class="brand">
    <img src="{{@blog.logo}}" alt="{{@blog.title}}-logo" class="logo"/>
  </figure>
  {{> "_form_volunteers"}}
</section>

{{/post}}
