{{!< default}}

{{#post}}

<section class="contact-success">
  <header class="contact-success-title">
    <h1> Excelente !</h1>
  </header>
  <article class="contact-success-body">
    <p class="lead">
      El énvio fue éxitoso, estaremos en contacto en el menor tiempo posible.  <span class="icon-wink2"></span>
    </p>
  </article>

  <footer class="contact-success-meta">
    <div class="icon-checkbox-checked">
    </div>
  </footer>
</section>

{{/post}}

<script>
  window.setTimeout(function(){
    window.location.href = "/";
  }, 3500);
</script>
