{{!< default}}

<section class="blog-post">
  <div class="container">

    <div class="all-post">
      {{> "_loop"}}
    </div>

    <div class="pagination">
      {{pagination}}
    </div>

  </div>
</section>
